iframe {
    display: block;
    margin: auto;
    padding: 30px 30px 30px 30px;
}

table {
    margin: auto;
    padding: 30px 30px 30px 30px;
}

table caption {
    padding-bottom: 25px;
}

#contenido h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.slider-container {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.menu-dots {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu-dots label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #607D8B;
    border-radius: 50px;
    margin: 0 .2em 1em;
}

.menu-dots:active label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #607D8B;
    border-radius: 50px;
    margin: 0 .2em 1em;
    background: #FFB085;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url("../imagenes/slider1.jpg");
}

.slide-2 {
    background-image: url("../imagenes/slider2.jpg");
}

.slide-3 {
    background-image: url("../imagenes/slider3.jpg");
}